.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.transparent{

    opacity: 1.0;
    transition: 0.3s;
}
.transparent:hover {
    opacity: 0.5;
    transition: 0.3s;
}